<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{Shared/_Layout.html}">
<head>
    <meta charset="UTF-8">
    <title>Create chat</title>
</head>
<body>
<main layout:fragment="body">
    <div class="container pt-4">
        <div class="row justify-content-center">
            <div class="col-md-8 col-lg-7">
                <div class="card">
                    <div class="card-body p-4">
                        <h2 class="text-center mb-4 h4">Create New Chat</h2>
                        <form th:action="@{/chat/create}" th:object="${chat}" method="post">
                            <div class="mb-3">
                                <label for="chatType" class="form-label">Chat Type:</label>
                                <div class="input-group">
                                    <span class="input-group-text"><i class="fa-solid fa-comments"></i></span>
                                    <select th:field="*{type}" class="form-select" id="chatType" required onchange="toggleUserSelection()">
                                        <option value="" selected disabled>Select chat type</option>
                                        <option value="single">1-On-1</option>
                                        <option value="group">Group</option>
                                        <option value="conference">Conference</option>
                                    </select>
                                </div>
                            </div>

                            <div class="mb-3 user-selection-section" id="singleUserSelection" >
                                <label for="singleUser" class="form-label">Select Participant:</label>
                                <div class="input-group">
                                    <span class="input-group-text"><i class="fa-solid fa-user"></i></span>
                                    <select class="form-select" id="singleUser" name="selectedUser">
                                        <option value="" selected disabled>Select a user</option>
                                        <option th:each="user : ${allUsers}"
                                                th:value="${user.id}"
                                                th:text="${user.username}"></option>
                                    </select>
                                </div>
                            </div>

                            <div class="mb-3 user-selection-section" id="multiUserSelection">
                                <label for="multiUserSelect" class="form-label">Select Participants (Ctrl + Click):</label>
                                <div class="input-group mb-3" >
                                    <span class="input-group-text"><i class="fa-solid fa-users"></i></span>
                                    <select class="form-select overflow-auto" id="multiUserSelect" name="selectedUsers" style="max-height: 40px;" multiple>
                                        <option th:each="user : ${allUsers}"
                                                th:value="${user.id}"
                                                th:text="${user.username}"></option>
                                    </select>
                                </div>
                            </div>
                            <div class="mb-3 user-selection-section" id="conferenceSelection">
                                <label for="conferenceReason" class="form-label">Reason:</label>
                                <div class="input-group mb-3">
                                    <span class="input-group-text"><i class="fa-regular fa-circle-question"></i></span>
                                    <input type="text" th:field="*{reason}" class="form-control" id="conferenceReason" placeholder="Enter Reason"/>
                                </div>
                                <label for="conferenceCode" class="form-label">Personal code:</label>
                                <div class="input-group mb-3">
                                    <span class="input-group-text"><i class="fa-solid fa-hashtag"></i></span>
                                    <input type="text" th:field="*{personalCode}" class="form-control" id="conferenceCode" placeholder="Enter Personal code"/>
                                </div>
                                <div class="row">
                                    <div class="mb-3 col-md-6">
                                        <label for="scheduledDate" class="form-label">Conference Date:</label>
                                        <div class="input-group">
                                            <span class="input-group-text"><i class="fa-solid fa-calendar-days"></i></span>
                                            <input type="date" class="form-control" id="scheduledDate"
                                                    th:field="*{scheduledDate}">
                                        </div>
                                    </div>
                                    <div class="mb-3 col-md-6">
                                        <label for="scheduledTime" class="form-label">Conference time:</label>
                                        <div class="input-group">
                                            <span class="input-group-text"><i class="fa-solid fa-clock"></i></span>
                                            <input type="time" class="form-control" id="scheduledTime"
                                                    th:field="*{scheduledTime}">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="mb-3 col-md-6" id="conferenceType">
                                        <label for="conferenceRecurring" class="form-label">Is recurring:</label>
                                        <div class="input-group">
                                            <span class="input-group-text"><i class="fas fa-repeat"></i></span>
                                            <select class="form-select" id="conferenceRecurring" th:field="*{isRecurring}" onchange="toggleRecurrenceFields()">
                                                <option value="" disabled selected>Select</option>
                                                <option th:value="false" >No</option>
                                                <option th:value="true">Yes</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="mb-3 col-md-6" id="recurrenceFields">
                                        <label for="recurrence" class="form-label">Recurrence pattern:</label>
                                        <div class="input-group">
                                            <span class="input-group-text"><i class="fas fa-repeat"></i></span>
                                            <select class="form-select" id="recurrence" th:field="*{recurrence}">
                                                <option value="" selected>Select pattern</option>
                                                <option value="DAILY">Daily</option>
                                                <option value="WEEKLY">Weekly</option>
                                                <option value="MONTHLY">Monthly</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary w-100">Create Chat</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        function toggleUserSelection() {
            const chatType = document.getElementById('chatType').value;
            const singleUserSection = document.getElementById('singleUserSelection');
            const multiUserSection = document.getElementById('multiUserSelection');
            const conferenceSection = document.getElementById('conferenceSelection');
            const recurrenceSection = document.getElementById('recurrenceFields');

            singleUserSection.style.display = 'none';
            multiUserSection.style.display = 'none';
            conferenceSection.style.display = 'none';

            if (chatType === 'single') {
                singleUserSection.style.display = 'block';
            } else if (chatType === 'group' || chatType === 'conference') {
                multiUserSection.style.display = 'block';
            }

            if (chatType === 'conference') {
                conferenceSection.style.display = 'block';
                recurrenceSection.style.display = 'none';
            }
        }

        function toggleRecurrenceFields() {
            let isRecurring = document.getElementById('conferenceRecurring').value;

            if(isRecurring === 'true') {
                document.getElementById('recurrenceFields').style.display = 'block';
            } else  {
                document.getElementById('recurrenceFields').style.display = 'none';
            }
        }

        document.addEventListener('DOMContentLoaded', function() {
            toggleUserSelection();
        });
    </script>
</main>
</body>
</html>